@page "/"

<PageTitle>School Data</PageTitle>
<div>
    <h4>School Informations..</h4>
    <div>
        <img src="/images/alunos1.jpg" />
    </div>    
</div>

<footer id="foo">
    Project GITHUB <a href="https://github.com/Ygoraphael/TGL-HMW5" target="_blank" >Ygor Raphael</a>
</footer>
