@page "/editStudent/{StudentId:int}"
@inject HttpClient http
@inject NavigationManager navigationManager
@using BlazorCRUD.Data

<h1>Update Student</h1>

<EditForm Model="_student" OnValidSubmit="UpdStudent">

    <div class="form-group mb-3">
        <label for="Name"> Name </label>
        <InputText @bind-Value="_student.Name" class="form-control" id="Name"/>
    </div>

    <div class="form-group mb-3">
        <label for="Email"> Email </label>
        <InputText @bind-Value="_student.Email" class="form-control" id="Email"/>
    </div>
    
    <div>
        <button class="btn btn-success" type="submit">Save</button>
        <NavLink href="/Student" class="btn btn-secondary">Cancel</NavLink>
    </div>

</EditForm>

@code {    
    [Parameter] 
    public int StudentId { get; set; }

    private Student _student = new Student();

    protected override async Task OnParametersSetAsync()
    {
        _student = await http.GetFromJsonAsync<Student>("/api/students/" + StudentId);
    }

    private async Task UpdStudent()
    {
        await http.PutAsJsonAsync<Student>("/api/students/" + StudentId, _student);
        navigationManager.NavigateTo("/Student");        
    }

}
