@page "/editStudent/{id}"
@using BlazorCRUD.Data

<h1>Update Student</h1>

<EditForm Model="_student" OnValidSubmit="NewStudent">

    <div class="form-group mb-3">
        <label for="Name"> Name </label>
        <InputText @bind-Value="_student.Name" class="form-control" id="Name"/>
    </div>

    <div class="form-group mb-3">
        <label for="Email"> Email </label>
        <InputText @bind-Value="_student.Email" class="form-control" id="Email"/>
    </div>
    
    <div>
        <button class="btn btn-success" type="submit">Save</button>
        <NavLink href="/Student" class="btn btn-secondary">Cancel</NavLink>
    </div>

</EditForm>

@code {
    [Inject] AppDbContext appDbContext { get; set; }
    [Inject] NavigationManager navigationManager { get; set; }
    [Parameter] public string id { get; set; }

    private Student _student = null;

    protected override async Task OnParametersSetAsync()
    {
        _student = await appDbContext.Students.FindAsync(Int32.Parse(id));
    }

    private async Task NewStudent()
    {
        appDbContext.Students.Update(_student);
        await appDbContext.SaveChangesAsync();
        navigationManager.NavigateTo("/Student");
    }

}
